/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Marvel&family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
/* font-family: 'Marvel', sans-serif; */
/* font-family: 'Roboto Slab', serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Gloria Hallelujah', cursive; */

/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    width: 75vw;
    margin: 0 auto;
}

#title {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 6rem;
    background-color: #12d7fa5b;
    border-radius: 20px;
    margin-top: .5rem;
}

.picture {
    text-align: center;
    background: rgba(0, 139, 139, 0.486);
    border-radius: 20px;
}

.picture img {
    border-radius: 40rem;
    max-width: 60%;
    height: auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
}

.navbar i {
    font-size: 3rem;
    cursor: pointer;
    margin: auto 2rem;
}

.info_container {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    text-align: center;
    margin: 2rem auto;
}

ul {
    list-style: none;
}

ul li {
    margin: 1rem auto;
}

#personal_info:hover {
    animation:wobble-horizontal-bottom .5s linear both;
}

#email:hover{
    animation:wobble-horizontal-bottom .5s linear both;
}

#phone:hover{
    animation:wobble-horizontal-bottom .5s linear both;
}

#education:hover{
    animation:wobble-horizontal-bottom .5s linear both;
}

#experience:hover{
    animation:wobble-horizontal-bottom .5s linear both;
}

@keyframes wobble-horizontal-bottom{
    0%,
    100%{
        transform:translateX(0);transform-origin:50% 50%}
    15%{
        transform:translateX(-30px) rotate(-6deg)}
    30%{
        transform:translateX(15px) rotate(6deg)}
    45%{
        transform:translateX(-15px) rotate(-3.6deg)}
    60%{
        transform:translateX(9px) rotate(2.4deg)}
    75%{
        transform:translateX(-6px) rotate(-1.2deg)}}

.personal_info {
    background: -webkit-linear-gradient(to right, #eb9588, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc9585, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 20px;
    padding: 1rem;;
}

.email_info{
    background: -webkit-linear-gradient(to left, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 20px;
    padding: 1rem;;
}

.phone_info {
    background: -webkit-linear-gradient(to left, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    border-radius: 20px;
    padding: 1rem;;
}

.education_info {
    background: -webkit-linear-gradient(to left, #B5AC49, #3CA55C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #B5AC49, #3CA55C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    border-radius: 20px;
    padding: 1rem;;
}

.experience_info {
    background: -webkit-linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    border-radius: 20px;
    padding: 1rem;;
}